Deep Learning\CNN\Cat-Dog Classification\content
Deep Learning\CNN\Age-Gender Prediction Non Linear NN\crop_part1
Deep Learning\CNN\Age-Gender Prediction Non Linear NN\UTKFace
Deep Learning\CNN\Age-Gender Prediction Non Linear NN\working
Deep Learning\CNN\Age-Gender Prediction Non Linear NN\utkface-new.zip